

Please <a href="/users/new">create a new account</a>

<form method="post" action="/login">
  <label for="username">Email: </label>
  <input type="text" name="username">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" name="login" value="log in">
</form>
